---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
	title="Page non trouvée!"
	description="Prenez contact avec moi pour discuter de vos projets ou pour toute question"
>
	<div class="row align-items-center">
		<div class="col-md-8 offset-md-2">
			<div class="title text-center my-5">
				<h1 class="display-4">Page non trouvée!</h1>
				<hr class="my-4" />
			</div>
			<p class="lead">
				La page que vous cherchez n'existe pas.
			</p>
            <p>
				Retour à l'<a href="/">accueil</a>.
			</p>   
			<img src="/img/site/404.webp" alt="Page non trouvée" class="img-fluid">
			<p class="text-center mt-3">
				<small><i>Image générée avec DALL-E</i></small>
			</p>
		</div>
	</div>
</Layout> 
