---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
	title="Me connaître"
	description="Découvrez mon parcours de plus de 10 ans dans l'enseignement et le coaching technologique"
>
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="title text-center my-5">
				<h1 class="display-4">À propos de moi</h1>
				<hr class="my-4" />
			</div>
			<p class="lead">
				Passionné par l'informatique et l'enseignement, j'évolue depuis plus de <strong>10 ans</strong> en tant qu'enseignant en <strong>programmation de jeux vidéo, intégration multimédia et intelligence artificielle</strong> au <strong>Cégep de Sainte-Foy</strong>. Mon objectif est d'offrir à mes étudiants une formation qui allie <strong>théorie et pratique</strong>, en utilisant des méthodes dynamiques et interactives.
			</p>

			<p class="my-4">
				Avec plus de <strong>20 ans d'expérience</strong> en tant que <strong>coach technologique indépendant</strong>, j'accompagne également des professionnels et des entreprises dans l'optimisation de leurs outils numériques et leurs stratégies digitales. Toujours en quête d'innovation, je travaille sur la conception d'<strong>agents intelligents</strong>, explorant sans cesse <strong>de nouvelles solutions technologiques</strong> pour améliorer l'apprentissage et le développement informatique.
			</p>

			<div class="my-5">
				<h3 class="mb-3 text-center">Ma Mission</h3>
				<p class="text-center">
					<strong>Transmettre mes connaissances de manière accessible et motivante</strong>, tout en formant la prochaine génération de développeurs et de créateurs de jeux vidéo.
				</p>
			</div>

			<div class="mt-5">
				<p class="lead text-center">
					<strong>Envie d'en savoir plus ou de collaborer avec moi ?</strong> <br>
					<a href="/contact" class="btn btn-warning ms-2">Contactez-moi dès maintenant !</a>
				</p>
			</div>
		</div>
	</div>
</Layout>
