---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
	title="Me contacter"
	description="Prenez contact avec moi pour discuter de vos projets ou pour toute question"
>
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="title text-center my-5">
				<h1 class="display-4">Me contacter</h1>
				<hr class="my-4" />
			</div>
			<p class="lead">
				Pour me contacter, rien de plus simple! <i class="bi bi-hand-thumbs-up"></i> 
			</p>
			<h2>En tant qu'un de mes étudiants</h2>
			<ul class="list-unstyled">
			  <li><i class="bi bi-envelope-paper-fill"></i> Communications officielles: <a href="https://cegep-ste-foy.omnivox.ca/intr/Module/Identification/Login/Login.aspx?ReturnUrl=%2fintr">Envoyer moi un MIO via Léa</a></li>
			  <li><i class="bi bi-microsoft-teams"></i> Clavardage Teams: Cherchez <strong>Jimmy Gilbert</strong></li>
			</ul>
			<h2>En tant que professionel</h2>
			<ul class="list-unstyled">
			  <li><i class="bi bi-signal"></i> Clavardage Signal: <a href="https://signal.me/#eu/MQJWqlV7-P-Qbsv2SxBoDrVmC7si4eYHeQbaN9LwbP6gJ9Z7ERxBbZ_G2u27wrsX">coachtechno.31</a></li>
			  <li><i class="bi bi-envelope"></i> Par courriel: <a href="#" onclick="window.location.href='mailto:' + 'info' + '@' + 'jimmygilbert.com'">info [at] jimmygilbert.com</a></li>
			</ul>
			<h2>Sur les réseaux sociaux</h2>
			<ul class="list-unstyled">
			  <li><i class="bi bi-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/jimmygilbert/">https://www.linkedin.com/in/jimmygilbert/</a></li>
			  <li><i class="bi bi-youtube"></i> YouTube: <a href="https://www.youtube.com/c/jimmygilbert/">https://www.youtube.com/c/jimmygilbert/</a></li>
			</ul>
		</div>
	</div>

	<script>

	</script>

	<style>

	</style>
</Layout> 